<section {{# hasClass}}class="{{ styleModifier }}"{{/hasClass}}>
    <h2><a href="javascript:void(0)">{{ headline.short }}</a></h2>
    {{> organisms-figureTemplate:(alt:"rectangle image", src: "http://placehold.it/400x300") }}
    <p>{{ description }}</p>
    <ul>
        <li><a href="javascript:void(0)">{{ name.first }}</a></li>
        <li><a href="javascript:void(0)">{{ name.middle }}</a></li>
        <li><a href="javascript:void(0)">{{ name.last }}</a></li>
    </ul>
</section>
