<label for="radio1">{{> atoms-checkbox-radio:(input_type:"radio", for:"radio1", id:"radio1", name: "radios-demo", value:"Radio 1") }}<span class="option-label">Radio 1</span></label>
<label for="radio2">{{> atoms-checkbox-radio:(input_type:"radio", for:"radio2", id:"radio2", name: "radios-demo", value:"Radio 2", booleans: "checked") }}<span class="option-label">Radio 2</span></label>
<label for="radio3">{{> atoms-checkbox-radio:(input_type:"radio", for:"radio3", id:"radio3", name: "radios-demo", value:"Radio 3", booleans:"disabled") }}<span class="option-label">Radio 3</span></label>
