{{> atoms-button: btn-large btn-primary(label: "Large Button") }}
{{> atoms-button: btn-large(label: "Large Button") }}
<br>
<br>
{{> atoms-button: btn-primary(label: "Default Button") }}
{{> atoms-button:(label: "Default") }}
<br>
<br>
{{> atoms-button: btn-small btn-primary(label: "Small Button") }}
{{> atoms-button: btn-small(label: "Small Button") }}
<br>
<br>
{{> atoms-button: btn-mini btn-primary(label: "Mini Button") }}
{{> atoms-button: btn-mini(label: "Mini Button") }}
