<label for="text-example">Sample Text Input</label><input type="text" placeholder="Some text" id="text-example"/>
<label for="required-example" class="required-field">Required Input</label><input type="text" placeholder="Some text" id="text-example"/>
