<p><a href="http://www.emory.edu/home/about-this-site/copyright.html" title="Copyright">Copyright</a> 2013-<span id="copyright-year">2016</span> <a href="http://www.emory.edu/" title="Emory Homepage">Emory University</a> - All Rights Reserved | 201 Dowman Drive. Atlanta, Georgia 30322 USA <a href="tel:404.727.6123">404.727.6123</a></p>
<script type="text/javascript">
    var theDate = new Date();
    var year = theDate.getFullYear();
    document.getElementById('copyright-year').textContent = year;
</script>
