@import "../neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: 960px;

// Define your breakpoints
$xl-up: new-breakpoint(min-width 1200px 12);
$l-up: new-breakpoint(min-width 992px 12);
$m-up: new-breakpoint(min-width 768px 8);
$s-up: new-breakpoint(min-width 480px 4);
$xs-up: new-breakpoint(min-width 360px 2);
