html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
  height: 100%;
}

header[role=banner],
nav[role=navigation],
main[role=main],
body>footer {
    @include outer-container();
    @include margin(0 null);
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
