<div role="navigation" class="secondary-navigation">
    <ul>
        <li class="current section"><a href="javascript:void(0)">Research and Learning</a></li>
        <li><a href="javascript:void(0)">Research Tools<span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
        <li class="current subpage"><a href="javascript:void(0)">Instructional Services<span aria-hidden="true" class="fa fa-angle-down"></span></a>
            <ul>
                <li><a href="javascript:void(0)">Instructional Services for Faculty and TAs</a></li>
                <li><a href="javascript:void(0)">Creating Effective Research Assignments</a></li>
                <li><a href="javascript:void(0)">Media Booking Services for Instructors</a></li>
                <li><a href="javascript:void(0)">Request a Research Instruction Session</a></li>
            </ul>
        </li>
        <li><a href="javascript:void(0)">Scholarly Communications and Data Management Services<span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
        <li><a href="javascript:void(0)">Subject Librarians<span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
        <li><a href="javascript:void(0)">Award and Research Programs<span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
    </ul>
</div>
