/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

@import 'scss/bourbon/bourbon';
@import 'scss/neat/neat';
@import 'scss/base/grid-settings';
@import 'scss/base/variables';

// Default styleguide styles
#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
  background-color: #fff;
}
.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.sg-colors li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}
// End default styleguide styles

//Body background color
body.patternlab-styles {
  background-color: #fff;
  padding: 0 1em;

  &.template-page-override {
    background-color: $lighter-gray;
    padding: 0;
  }

}
// Colors Swatches
$swatch-size: em(100px);

.color-pallette {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    @include media($s-up) {
        flex-direction: row;
        justify-content: flex-start;
    }

    .color-tile {
        //display: inline-block;
        //@include padding(1em);
        height: $swatch-size*2;
        @include padding(.5em);
        margin-top: 1em;
        border: $base-border;
        border-radius: $base-border-radius;
        font-family: $caption-sans-serif-font-family;

        @include media($s-up) {
            flex-basis: 33%;
        }

        @include media($m-up) {
            flex-basis: 25%;
        }

        @include media($l-up) {
            flex-basis: 20%;
        }

        .color-swatch {
            //height: $swatch-size;
            width: 100%;
            border-radius: $base-border-radius;
            height: $swatch-size;

            @include media($s-up) {
                height: $swatch-size;
            }

            @include media($l-up) {
                //height: $swatch-size*2;
            }

            @include media($xl-up) {
                //height: $swatch-size*2.5;
            }

        }

        .color-value {
            margin-top: 1em;
            text-align: center;
        }

    }

}

// End color swatches

/* Figures */
figure {

  @include media($s-up) {

    &.center {
      display: block;
      margin: 0 auto 1em auto;
      width: 50%;
      max-width: 700px;
    }

    &.pull-left,
    &.pull-right {
      width: 50%;
      max-width: 300px;

      @include media ($m-up) {
        width: 33%;
      }

    }

  }

}

section.card.tile {

  @include media($s-up) {
    max-width: 50%;
  }

  @include media($m-up) {
    max-width: 33%;
  }

}
