<nav class="primary-navigation" role="navigation">
    <a href="javascript:void(0)" id="js-navigation-mobile-menu" class="mobile-menu-link"><span class="fa fa-bars" aria-hidden="true"></span> Navigation</a>
    <ul class="js-navigation-menu">
        <li><a href="javascript:void(0)">Home</a></li>
        <li class="active"><a href="javascript:void(0)">Materials</a></li>
        <li><a href="javascript:void(0)">Services</a></li>
        <li><a href="javascript:void(0)">Research and Learning</a></li>
        <li><a href="javascript:void(0)">Exhibitions</a></li>
        <li><a href="javascript:void(0)">News and Events</a></li>
        <li><a href="javascript:void(0)">About</a></li>
    </ul>
</nav>
<script>
    jQuery(document).ready(function(){

        jQuery('.js-navigation-menu').addClass('is-hidden');

        jQuery('.mobile-menu-link').click(function(){
            jQuery('.js-navigation-menu').toggleClass('is-hidden');
        });

    });

</script>
