<section>
    {{> organisms-figureTemplate:pull-left(caption: "This figure is full-width at small screen sizes and floated left at larger screen sizes. The width at larger screensizes is arbitrary and should be designed with the context of the page.", alt:"Square image", src: "http://placehold.it/300x300") }}
</section>
<section>
    {{> organisms-figureTemplate:center(caption: "This figure is full-width at small screen sizes and centered at larger screen sizes. The width at larger screensizes is arbitrary and should be designed with the context of the page.", alt:"Square image", src: "http://placehold.it/700x300") }}
</section>
<section>
    {{> organisms-figureTemplate:full-width(caption: "This figure is full-width at all screen sizes", alt: "21x9 image", src: "http://placehold.it/350x150"  ) }}
</section>
<section>
    {{> organisms-figureTemplate:pull-right(caption: "This figure is full-width at small screen sizes and floated right at larger screen sizes. The width at larger screensizes is arbitrary and should be designed with the context of the page.", alt:"21x9 image", src: "http://placehold.it/350x150") }}
</section>
