{{> organisms-header }}
{{> organisms-top-navigation }}
<main role="main">
    {{> organisms-breadcrumbs }}
    <article>
        <h1>Page Title</h1>
        {{> molecules-lead-paragraph }}
        {{> organisms-section }}
    </article>
</main>
{{> organisms-footer }}
