<p>Icons are provided using the <a href="http://fontawesome.io/" target="_blank">Font Awesome icon font</a>, currently version 4.6.3. For a complete list of icons and classes associated with each, visit <a href="http://fontawesome.io/" target="_blank">Font Awesome's website</a>. Also be sure to check out <a href="http://fontawesome.io/examples/" target="_blank">examples</a> for how you can modify icon behavior and presentation for a variety of use cases.</p>
<p>It is imperative that you apply appropriate markup for accessibility support. Refer to Font Awesome's <a href="http://fontawesome.io/accessibility/">accessibility guide</a> for more details.</p>
