<label for="checkbox1">{{> atoms-checkbox-radio:(input_type:"checkbox", id:"checkbox1", value:"Checkbox 1") }}<span class="option-label">Checkbox</span></label>
<label for="checkbox2">{{> atoms-checkbox-radio:(input_type:"checkbox", id:"checkbox2", value:"Checkbox 2", booleans: "checked") }}<span class="option-label">Selected checkbox</span></label>
<label for="checkbox3">{{> atoms-checkbox-radio:(input_type:"checkbox", id:"checkbox3", value:"Checkbox 3", booleans: "disabled") }}<span class="option-label">Disabled checkbox</span></label>
