figure {
    $figcaption-color: #333 !default;

    margin: 0;
    @include padding(1em);
    border-top: $base-border;
    border-bottom: $base-border;

    img {
        display: block;
        @include margin(0 auto);
        @include fill-parent();
    }

    &.pull-left, &.pull-right {
        @include fill-parent();
        @include margin(0 auto 1em auto);
    }

    &.center {
        display: block;
        @include margin(0 auto 1em auto);
    }

    @include media($s-up) {

        &.pull-left {
            @include padding(0 1em 1em 0);
            @include margin(0 1em 1em 0);
            border-top: none;
            border-right: $base-border;
            border-bottom-right-radius: $base-border-radius;
        }

        &.pull-right {
            @include padding(0 0 1em 1em);
            @include margin(0 0 1em 1em);
            border-top: none;
            border-left: $base-border;
            border-bottom-left-radius: $base-border-radius;
        }

    }

    &.full-width {
        @include fill-parent();
        @include margin(0 auto 1em auto);

        figcaption {
            text-align: center;
        }

    }

}

figcaption {
    font-family: $caption-sans-serif-font-family;
    font-size: .7em;
    color: $figcaption-color;
    margin-top: 1em;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}
