// table {
//     border-collapse: collapse;
//     margin: $small-spacing 0;
//     table-layout: fixed;
//     width: 100%;
// }
//
// th {
//     border-bottom: 1px solid shade($base-border-color, 25%);
//     font-weight: 600;
//     padding: $small-spacing 0;
//     text-align: left;
// }
//
// td {
//     border-bottom: $base-border;
//     padding: $small-spacing 0;
// }
//
// tr,
// td,
// th {
//     vertical-align: middle;
// }

.table-plain,
table {
    font-family: $label-font-family;
    font-size: $base-font-size;
    border-collapse: collapse;


}

caption {
    text-align: left;
    font-family: $caption-sans-serif-font-family;
    font-size: .9em;
}

td,
th {
    padding: 0.25em 0.75em;
    vertical-align: middle;
}

th {

    font-family: $heading-font-family;
    font-size: 1.25em;
    font-weight: normal;
    color: $medium-dark-gray;

}

.table-bordered {
    tbody tr {
        border-bottom: $base-border;
    }
}

.table-striped {
    thead tr {
        background: $lighter-gray;
    }

    tbody tr:nth-of-type(2n) {
        background-color: $ultra-light-gray;
    }

    tfoot tr {
        border-top: $base-border;
    }
}
