// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: 'PT Serif', serif;
$heading-font-family: 'PT Sans Narrow', sans-serif;
$code-font-family: 'PT Mono', monospace;
$label-font-family: 'PT Sans', sans-serif;
$caption-serif-font-family: 'PT Serif Caption', serif;
$caption-sans-serif-font-family: 'PT Sans Caption', sans-serif;

//$base-font-family: $font-stack-system;
//$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: $base-line-height * 1em;
//$small-spacing: $base-spacing / 2;
$small-spacing: $base-font-size;
$base-z-index: 0;

// Colors
$emory-blue: #002878;
$light-blue: #6384c6;
$white: #fff;
$black: #333;
$dark-gray: #5e5d5b;
$dark-grey: $dark-gray;
$medium-dark-gray: #666;
$medium-dark-grey: $medium-dark-gray;
$medium-gray: #999;
$medium-grey: $medium-gray;
$light-gray: #ccc;
$light-grey: $light-gray;
$lighter-gray: #e6e6e6;
$lighter-grey: $lighter-gray;
$ultra-light-gray: #f5f5f5;
$ultra-light-grey: $ultra-light-gray;
$blue-gray: #e8ebf4;
$blue-grey: $blue-gray;
$alt-blue-gray: #e4e6f0;
$alt-blue-grey: $alt-blue-gray;
$light-green: #b4cd95;

// Font Colors
$base-font-color: $black;
$action-color: $emory-blue;
$muted: $light-gray;
$figcaption-color: $black;

// Border
$base-border-radius: 3px;
$base-border-width: 1px;
$base-border-style: solid;
$base-border-color: $light-gray;
$base-border: $base-border-width $base-border-style $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);
$primary-nav-background-color: $alt-blue-gray;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$input-border-color: $light-gray;
$input-border: $base-border-width $base-border-style $input-border-color;

// Animations
$base-duration: 150ms;
$base-timing: ease;
