{{> atoms-checkbox-radio:(input_type:"radio", id:"radio1", name_value: "radio-elements", value:"Radio 1") }}
{{> atoms-checkbox-radio:(input_type:"radio", id:"radio2", name_value: "radio-elements", value:"Radio 2", booleans: "checked") }}
{{> atoms-checkbox-radio:(input_type:"radio", id:"radio3", name_value: "radio-elements", value:"Radio 3", booleans: "disabled") }}
