<div class="search-bar">
    <form role="search">
      <input type="search" placeholder="Enter Search" />
      <button type="submit">
          <a href="javascript:void(0)" id="js-navigation-mobile-menu" class="mobile-menu"><span class="fa fa-search" aria-hidden="true"></span><span class="sr-only">Search</span></a>
      </button>
    </form>
</div>
