<div class="color-pallette">
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #002878">
        </div>
        <div class="color-value">
            <p>$emory-blue<br />#002878</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #6384c6">
        </div>
        <div class="color-value">
            <p>$light-blue<br />#6384c6</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #e8ebf4">
        </div>
        <div class="color-value">
            <p>$blue-gray<br />#e8ebf4</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #e4e6f0">
        </div>
        <div class="color-value">
            <p>$alt-blue-gray<br />#e4e6f0</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #b4cd95">
        </div>
        <div class="color-value">
            <p>$light-green<br />#b4cd95</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #5e5d5b">
        </div>
        <div class="color-value">
            <p>$dark-gray<br />#5e5d5b</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #666">
        </div>
        <div class="color-value">
            <p>$medium-dark-gray<br />#666</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #999">
        </div>
        <div class="color-value">
            <p>$medium-gray<br />#999</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #ccc">
        </div>
        <div class="color-value">
            <p>$light-gray<br />#ccc</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #e6e6e6">
        </div>
        <div class="color-value">
            <p>$lighter-gray<br />#e6e6e6</p>
        </div>
    </div>
    <div class="color-tile">
        <div class="color-swatch" style="background-color: #f5f5f5">
        </div>
        <div class="color-value">
            <p>$ultra-light-gray<br />#f5f5f5</p>
        </div>
    </div>
</div>

