section.card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-content: flex-start;
    justify-content: space-between;

    h2 {

        a {
            text-decoration: none;
        }

    }

    figure {
        border: none;
        margin-bottom: 1em;
        padding: 0;
        flex-basis: 100%;
    }

    p {

        a {
            text-decoration: none;
        }

    }

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: inline-block;

            &:not(:last-child):after {
                content: ' | '
            }

        }

    }

    @include media($s-up) {

        h2 {
            flex-basis: 100%;
            order: 1;
        }

        figure {
            order: 2;
            overflow: hidden;

            img {
                width: 100%;
            }

        }

        p {
            order: 3;
        }

        ul {
            flex-basis: 100%;
            order: 4;
        }

    }

    &.row {

        @include media($s-up) {

            figure {
                flex-basis: 39%;
                order: 3;
            }

            p {
                flex-basis: 60%;
                order: 2;
            }

        }

        @include media($m-up) {

            figure {
                flex-basis: 24%;
            }

            p {
                flex-basis: 75%;
            }

        }

    }

    &.tile {

        @include media($s-up) {
            margin-top: .5em;
            padding: .5em 1em;
            /* border: $base-border;
            border-radius: $base-border-radius;
            box-shadow: 1px 1px 6px $light-gray; */
            flex-basis: 50%;

            h2 {
                order: 2;
                font-size: em(21px);
            }

            figure {
                order: 1;
            }
        }

        @include media($s-up) {
            flex-basis: 50%;
        }
 
        @include media($m-up) {
            flex-basis: 33%;
        }

    }

}
