footer#site-footer {

    p, ul.footer-links {
        font-size: em(11px);
        font-family: $caption-sans-serif-font-family;
    }

    p {
        margin-top: 1em;
    }

}

ul.footer-links {
    @extend %unstyled-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
        padding: 1em;

        a {
            text-decoration: none;
        }

    }

    &.footer-links-sites {
        background-color: $dark-gray;
        color: $white;
        border-top: 2px solid $white;

        li {
            padding: .25em 1em;
        }

        li:not(:first-child) {
            &:hover, &:active, &:focus {
                background-color: $light-gray;

                a {
                    color: $dark-gray
                }

            }

        }

        a {
            color: currentColor;
        }

    }

    &.footer-links-library {
        background-color: $light-gray;
        color: $white;
        border-top: 2px solid $white;

        li {

            &:hover, &:active, &:focus {
                background-color: $medium-gray;

                a {
                    color: $dark-gray;
                }

            }

        }

        a {
            color: currentColor;
        }

    }

    &.footer-links-emory {
        background-color: $light-gray;

        li {

            &:hover, &:active, &:focus {
                background-color: $medium-gray;

                a {
                    color: $white;
                }

            }

        }

    }

}



