.primary-navigation {
    font-family: $label-font-family;
    font-size: 1em;
    font-weight: 400;
    line-height: $base-line-height;
    //border-bottom: $base-border;

    ul {
        @extend %unstyled-list;
        background-color: $primary-nav-background-color;

        display: flex;
        flex-wrap: wrap;
        align-content: center;

        @include media($s-up) {
            font-size: .8em;
            position: initial;
        }

        @include media($m-up) {
            justify-content: space-around;
        }

        &>li {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-self: stretch;
            flex-basis: 100%;
            display: flex;
            align-items: center;
            @include margin(0);
            @include padding(.5em);
            border: $base-border;
            @include border-color($ultra-light-gray null null $ultra-light-gray);

            // Adjust li width at larger screen sizes.
            @include media($s-up) {
                flex-basis: 50%;
            }

            @include media($m-up) {
                flex-basis: auto;
                flex-grow: 1;
            }

            @include transition(background-color .2s ease-out, color .2s ease-out);

            a {
                text-decoration: none;
            }

            &.active,
            &:hover {
                background-color: $light-blue;

                a {
                    color: $white;
                }

            }

        }

        &.is-hidden {
            position: absolute;
            left: -10000px;

            @include media($s-up) {
                position: relative;
                left: initial;
            }

        }

    }

    .mobile-menu-link {
        display: block;
        width: 100%;
        @include margin(0);
        @include padding(.5em);
        background-color: $primary-nav-background-color;
        text-decoration: none;
        border: $base-border;
        @include border-color($ultra-light-gray null null $ultra-light-gray);

        @include media($s-up) {
            display: none;
        }

    }

}
