<ul class="footer-links footer-links-emory">
    <li><a href="http://www.emory.edu">Emory Home</a></li>
    <li><a href="http://www.emory.edu/home/contact-emory/">Contacts</a></li>
    <li><a href="http://www.emory.edu/home/emergency/">Emergency</a></li>
    <li><a href="http://www.hr.emory.edu/eu/careers/">Careers</a></li>
    <li><a href="http://www.emory.edu/home/giving/">Make a Gift</a></li>
    <li><a href="http://www.emory.edu/home/about-this-site/">About Emory's Web</a></li>
</ul>
