ul.breadcrumb {
    @extend %unstyled-list;
    font-family: $label-font-family;
    font-size: em(12px);

    li {
        display: inline;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &.active {
            color: $muted;
        }

        &:not(:last-child):after {
            content: " / ";
            color: $muted;
        }

    }

}
