{{> atoms-checkbox-radio:(input_type:"checkbox", id:"checkbox1", name_value:"checkbox1", value:"Checkbox 1") }}
{{> atoms-checkbox-radio:(input_type:"checkbox", id:"checkbox2", name_value:"checkbox2", value:"Checkbox 2", booleans: "checked") }}
{{> atoms-checkbox-radio:(input_type:"checkbox", id:"checkbox3", name_value:"checkbox3", value:"Checkbox 3", booleans: "disabled") }}
