{{> atoms-button:(label: "Default", hasLink: true) }}
{{> atoms-button: btn-primary(label: "Do the thing", hasLink: true) }}
{{> atoms-button: btn-info(label: "Learn more", hasLink: true) }}
{{> atoms-button: btn-success(label: "You may continue", hasLink: true) }}
{{> atoms-button: btn-warning(label: "Be careful", hasLink: true) }}
{{> atoms-button: btn-danger(label: "Are you really sure?", hasLink: true) }}
{{> atoms-button: btn-disabled(label: "Disabled", booleans: "disabled", hasLink: false) }}
